doctype html
html(ng-app='client')

  head
    base(href="/")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(data-ng-bind="title")
    //styles

  body
    navbar
    div(ui-view='')
    //scripts
    script(src="socket.io-client/socket.io.js")
