// WebKit
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}

.btn-progress,
.btn-loading {
  #gradient > .striped(rgba(255, 255, 255, .15), -45deg);
  background-size: 20px 20px;
  .animation(progress-bar-stripes 1s linear infinite);
}


