div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') angular-fullstack

    div#navbar-main.navbar-collapse.collapse(collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in nav.menu', ui-sref-active='active')
          a(ui-sref='{{item.state}}') {{item.title}}

        li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='app.user.profile') Profile

        li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='app.user.food') Food

        li(ng-show='nav.isAdmin()', ui-sref-active='active')
          a(ui-sref='admin') Admin


      ul.nav.navbar-nav.navbar-right
        li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='app.anon.signup') Sign up

        li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='app.anon.login') Login

        li(ng-show='nav.isLoggedIn()')
          p.navbar-text Hello {{ nav.getCurrentUser().name }}

        li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='app.user.settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='nav.isLoggedIn()')
          a(ui-sref='app.anon.logout') Logout
