form.form(novalidate, name="form", ng-submit='fdCtrl.save(form)')
  .row
    .col-sm-2
      .form-group(ng-class='{ "has-error": form.name.$invalid && fdCtrl.submitted }')
        input.form-control(data-ng-model="food.name", name="name", data-ng-disabled="fdCtrl.loading",
        data-mongoose-error='')
    .col-sm-1
      .form-group(ng-class='{ "has-error": form["structure.protein"].$invalid && fdCtrl.submitted }')
        input.form-control(type="number", name="structure.protein", data-ng-model="food.structure.protein", mongoose-error
        data-ng-disabled="fdCtrl.loading")
        p.help-block(ng-show='form["structure.protein"].$error.mongoose') {{ fdCtrl.errors["structure.protein"] }}
    .col-sm-1
      .form-group(ng-class='{ "has-error": form["structure.fat"].$invalid && fdCtrl.submitted }')
        input.form-control(type="number", name="structure.fat", data-ng-model="food.structure.fat",
        data-ng-disabled="fdCtrl.loading", mongoose-error='')
    .col-sm-1
      .form-group(ng-class='{ "has-error": form["structure.carbohydrate"].$invalid && fdCtrl.submitted }')
        input.form-control(type="number", mongoose-error='', name="structure.carbohydrate"
        data-ng-model="food.structure.carbohydrate", data-ng-disabled="fdCtrl.loading")
    .col-sm-1
      .form-group(ng-class='{ "has-error": form["structure.calories"].$invalid && fdCtrl.submitted }')
        input.form-control(type="number", name="structure.calories" , mongoose-error='' data-ng-model="food.structure.calories", data-ng-disabled="fdCtrl.loading"
        placeholder="{{fdCtrl.countCalories()}}")
    .col-sm-3
      input.btn.btn-primary(type="submit", data-ng-class="{'btn-loading': fdCtrl.loading }",
      data-ng-disabled="fdCtrl.loading", value="{{food._id?'Save':'Create'}}")
      a.btn.btn-danger(data-ng-class="{'btn-loading': fdCtrl.loading }", data-ng-disabled="fdCtrl.loading"
      data-ng-click="fdCtrl.delete()", data-ng-if="food._id") Delete

