.container
  div(data-ng-repeat="food in vm.foods | filter : vm.checkDeleted", data-food="food", data-delete="vm.deleteFunction(index)")
  p(data-ng-if="!vm.foods.$resolved") Loading
  .row
    .col-md-6
      pagination(total-items="vm.meta.total", data-ng-model="vm.meta.current", data-items-per-page="vm.meta.limit",
        data-ng-change="vm.pageChanged()")
    .col-md-2
      a.btn.btn-success.btn-block(data-ng-click="vm.add()") add
