.container
  pre {{profile.getCurrentUser() | json}}
  input(type="file" data-nv-file-select="" data-uploader="profile.uploader")
  div
    | Queue progress:
    .progress(style='')
      .progress-bar(role='progressbar', ng-style="{ 'width': profile.uploader.progress + '%' }")
    button.btn.btn-success.btn-s(type='button', ng-click='profile.uploader.uploadAll()', ng-disabled='!profile.uploader.getNotUploadedItems().length')
      span.glyphicon.glyphicon-upload
      |  Upload all
    button.btn.btn-warning.btn-s(type='button', ng-click='profile.uploader.cancelAll()', ng-disabled='!profile.uploader.isUploading')
      span.glyphicon.glyphicon-ban-circle
      |  Cancel all
    button.btn.btn-danger.btn-s(type='button', ng-click='profile.uploader.clearQueue()', ng-disabled='!profile.uploader.queue.length')
      span.glyphicon.glyphicon-trash
      |  Remove all
